/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f5b078;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

header h1 {
    margin: 0;
    display: inline;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 15px;
}

.nav-link {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
}

.nav-link i {
    margin-right: 5px;
}

#cart-icon {
    position: relative;
}

#cart-icon i {
    font-size: 1.2em;
}

main {
    padding: 20px;
}

.menu-category {
    margin-bottom: 30px;
}

.menu-category h3 {
    margin-bottom: 15px;
    font-size: 24px;
    border-bottom: 2px solid #f39c12;
    padding-bottom: 5px;
}

.menu-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
    text-align: center;
}

.menu-item-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

button {
    background-color: #f39c12;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #e67e22;
}

footer {
    background-color: #f8f8f8;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    text-align: center;
}
